<div class="author">
    <h1 class="author__heading">Search Results</h1>
</div>

<section class="artciles">
    <div class="article-list">
        <% data.forEach(post=> { %>
            <div class="article">
                <a href="/post/<%= post._id %>">
                    <span class="article-title">
                        <%= post.title %>
                    </span>
                    <span class="article-list__date">
                        <%= post.createdAt.toDateString() %>
                    </span>
                </a>
            </div>
            <% }) 
        %>
    </div>
</section>